In [36]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [87]:
axonlist_1 = pd.read_csv('/misc/torrey/onarvaez/Aqueronte_hist/ct01/histology/nerve_a_intact/proc/1_segmentation/axonlist_image.csv')
axonlist_2 = pd.read_csv('/misc/torrey/onarvaez/Aqueronte_hist/ct01/histology/nerve_a_intact/proc/2_segmentation/axonlist_image.csv')
axonlist_3 = pd.read_csv('/misc/torrey/onarvaez/Aqueronte_hist/ct01/histology/nerve_a_intact/proc/3_segmentation/axonlist_image.csv')
axonlist_4 = pd.read_csv('/misc/torrey/onarvaez/Aqueronte_hist/ct01/histology/nerve_a_intact/proc/4_segmentation/axonlist_image.csv')
axonlist_5 = pd.read_csv('/misc/torrey/onarvaez/Aqueronte_hist/ct01/histology/nerve_a_intact/proc/5_segmentation/axonlist_image.csv')
axonlist_6 = pd.read_csv('/misc/torrey/onarvaez/Aqueronte_hist/ct01/histology/nerve_a_intact/proc/6_segmentation/axonlist_image.csv')
axonlist_7 = pd.read_csv('/misc/torrey/onarvaez/Aqueronte_hist/ct01/histology/nerve_a_intact/proc/7_segmentation/axonlist_image.csv')
axonlist_8 = pd.read_csv('/misc/torrey/onarvaez/Aqueronte_hist/ct01/histology/nerve_a_intact/proc/8_segmentation/axonlist_image.csv')
axonlist_9 = pd.read_csv('/misc/torrey/onarvaez/Aqueronte_hist/ct01/histology/nerve_a_intact/proc/9_segmentation/axonlist_image.csv')
axonlist_10 = pd.read_csv('/misc/torrey/onarvaez/Aqueronte_hist/ct01/histology/nerve_a_intact/proc/10_segmentation/axonlist_image.csv')

In [188]:
axon_count_1 = axonlist_1.count(axis=0)
axon_count_2 = axonlist_2.count(axis=0)
axon_count_3 = axonlist_3.count(axis=0)
axon_count_4 = axonlist_4.count(axis=0)
axon_count_5 = axonlist_5.count(axis=0)
axon_count_6 = axonlist_6.count(axis=0)
axon_count_7 = axonlist_7.count(axis=0)
axon_count_8 = axonlist_8.count(axis=0)
axon_count_9 = axonlist_9.count(axis=0)
axon_count_10 = axonlist_10.count(axis=0)

In [189]:
type (axon_count)

pandas.core.series.Series

In [190]:
total_axon_1 = axon_count_1.value_counts('myelinArea')

In [191]:
total_axon_1

3201    1.0
dtype: float64

In [192]:
total_axon_1 = axon_count_1.value_counts('myelinArea')
total_axon_2 = axon_count_2.value_counts('myelinArea')
total_axon_3 = axon_count_3.value_counts('myelinArea')
total_axon_4 = axon_count_4.value_counts('myelinArea')
total_axon_5 = axon_count_5.value_counts('myelinArea')
total_axon_6 = axon_count_6.value_counts('myelinArea')
total_axon_7 = axon_count_7.value_counts('myelinArea')
total_axon_8 = axon_count_8.value_counts('myelinArea')
total_axon_9 = axon_count_9.value_counts('myelinArea')
total_axon_10 = axon_count_10.value_counts('myelinArea')

In [193]:
total_axon_count = pd.concat([total_axon_1, total_axon_2, total_axon_3, total_axon_4, total_axon_5, total_axon_6, total_axon_7, total_axon_8, total_axon_9, total_axon_10])

In [220]:
total_axon_count

3201    1.0
3677    1.0
2749    1.0
3631    1.0
2828    1.0
2921    1.0
3292    1.0
3277    1.0
3398    1.0
3392    1.0
dtype: float64

In [221]:
total_axon_count.to_csv('/misc/torrey/onarvaez/TMP/pandas_training/ct01/histology/nerve_a_intact/proc/total_frame.csv')

In [223]:
col_Names=["total_axon","delete"]
tool= pd.read_csv('/misc/torrey/onarvaez/TMP/pandas_training/ct01/histology/nerve_a_intact/proc/total_frame.csv',names=col_Names)

In [224]:
tool

   total_axon  delete
0        3201     1.0
1        3677     1.0
2        2749     1.0
3        3631     1.0
4        2828     1.0
5        2921     1.0
6        3292     1.0
7        3277     1.0
8        3398     1.0
9        3392     1.0

In [226]:
total_axon = tool.drop('delete', axis=1)

In [229]:
total_axon.to_csv('/misc/torrey/onarvaez/TMP/pandas_training/ct01/histology/nerve_a_intact/proc/total_axon.csv')

In [232]:
total_axon

   total_axon
0        3201
1        3677
2        2749
3        3631
4        2828
5        2921
6        3292
7        3277
8        3398
9        3392